#input {
    padding: 10% 15%;
    margin: auto;
    height: fit-content;
    position: relative;
    background-color: #202020;
}

textarea {
    width: 90%;
    border: none;
    border-radius: 30px;
    margin: auto;
}

#Title, #Date, #URL {
    height: 3rem;
    font-size: 2rem;
    padding: 20px;
}

#Info {
    height: 20rem;
    padding: 20px;
    font-size: 2rem;
}

#input > h2 {
    font-size: 1.5rem;
    color: rgb(28, 81, 255);
}